/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* Home page styles */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
}

.workoutsContainer {
  width: 270px;
  display: flex;
}

.workout_container {
  padding: 12px 16px 0px 16px !important;
}

.addButton {
  margin-left: auto !important;
  background: var(--primary) !important;
  border: 0 !important;
  color: #fff !important;
  padding: 10px !important;
  font-family: "Poppins" !important;
  border-radius: 4px !important;
  cursor: pointer !important;
}

.delete_button {
  background-color: #ddd !important;
  color: black !important;
  border-radius: 10px !important;
  min-width: 40px !important;
}

.workout_title {
  color: var(--primary) !important;
  font-weight: bold !important;
}

.dialogTitle {
  background-color: var(--primary) !important;
  color: #fff !important;
}

.error {
  border: 1px solid var(--error) !important;
}
